---
import AboutUs from '../components/AboutUs.astro';
import Community from '../components/Community.astro';
import Contributors from '../components/Contributors.astro';
import Events from '../components/Events.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import LastProjects from '../components/LastProjects.astro';
import Nav from '../components/Nav.astro';
import Values from '../components/Values.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Nav />
	<Hero />
	<main class="w-full max-w-7xl mx-auto">
		<Values />
		<AboutUs />
		<LastProjects />
		<Events />
		<Community />
		<Contributors />
		<FinalCTA />
		<Footer />
	</main>
</Layout>

<style>
	
</style>
