<section class="flex h-full w-full flex-col gap-[72px] px-6 text-xl sm:text-3xl">
  <div class="m-4 flex w-full flex-col items-center justify-center gap-4 text-center sm:gap-6">
    <h2 class="text-4xl font-bold md:text-5xl">Sobre Nosotros</h2>
    <p>Aprende sobre quiénes somos y a qué nos dedicamos. ¡Si te gusta, no dudes en unirte!</p>
  </div>
  <!-- We are a community -->
  <div
    class="flex w-full flex-col items-center justify-center gap-0 overflow-hidden rounded-2xl bg-linear-[75deg,#FF85E4_15%,#85FF85_40%,#85BBFF_75%,#BC85FF] p-[3px] shadow-[0px_1px_30px_rgba(255,133,228,0.3)] sm:flex-row"
  >
    <div
      class="bg-primary flex w-full flex-col justify-between overflow-hidden rounded-[14px] shadow-[inset_0_2px_25px_#6F00FF] md:h-full md:flex-row"
    >
      <div
        class="mr-0 mb-11 flex flex-col justify-between gap-14 px-6 pt-14 md:mr-[60px] md:mb-0 md:h-[450px] md:w-[422px] md:py-11 md:ps-11"
      >
        <h3 class="text-center text-2xl font-bold md:text-start md:text-3xl">
          Somos una comunidad de desarrollo y diseño creada por afor digital.
        </h3>
        <p class="text-base md:text-lg">Nacida en noviembre de 2022, actualmente cuenta con +5000 usuarios activos.</p>
      </div>
      <div
        class="max-h-[480px] min-h-[262px] w-full bg-[url(/about/comu.svg)] bg-cover bg-center sm:h-[450px] md:max-w-[734px] md:min-w-[400px]"
      >
      </div>
    </div>
  </div>
  <!-- hackaton & talk -->
  <div class="flex flex-col justify-between gap-5 md:flex-row md:justify-center md:gap-10">
    <div
      class="flex max-h-[680px] w-full flex-col items-center justify-center gap-20 rounded-2xl border-[1px] border-solid border-[#ededed66] bg-[#212121] p-11 pb-0 md:gap-20"
    >
      <div class="flex flex-col gap-5">
        <h3 class="text-center text-2xl font-bold md:text-start md:text-3xl">Participa en una hackaton</h3>
        <p class="text-base md:text-lg">Aprende, crea y colabora en un ambiente libre de presiones.</p>
        <p class="text-base md:text-lg">
          Aquí todos suman: quienes saben más guían, y quienes aprenden dan nuevas ideas.
        </p>
      </div>
      <div
        class="flex h-full max-h-[430px] min-h-[252px] w-full max-w-[315px] flex-col items-center justify-center gap-0 overflow-hidden rounded-t-[20px] shadow-[0px_-10px_30px_rgb(171,71,194,0.47)]"
      >
        <img src="/about/hackafor-2024.svg" alt="" />
        <img src="/about/afor-user.svg" alt="" />
      </div>
    </div>
    <div
      class="text-primary flex max-h-[680px] w-full flex-col items-center gap-20 rounded-2xl bg-[#EDEDED] p-11 pb-7 md:justify-center md:gap-30"
    >
      <div class="flex flex-col gap-5">
        <h3 class="text-center text-2xl font-bold md:text-start md:text-3xl">Da una charla</h3>
        <p class="text-base md:text-lg">Comparte lo que sabes y potencia el aprendizaje colectivo.</p>
        <p class="text-base md:text-lg">
          No importa tu nivel, Cada experiencia cuenta. ¡Tu voz puede inspirar a alguien!
        </p>
      </div>
      <div
        class="relative flex h-full max-h-[280px] min-h-[140px] w-full flex-col items-center justify-center gap-0 md:h-[280px]"
      >
        <img src="/about/six-months.svg" alt="" class="rounded-2xl object-cover shadow-lg" />
        <img
          src="/about/developer.svg"
          alt=""
          class="absolute -top-[12%] left-[50%] size-16 -translate-x-[50%] md:-top-[10%] md:size-24"
        />
      </div>
    </div>
  </div>
  <!-- other activities -->
  <div class="flex flex-col gap-5 md:flex-row md:justify-between md:gap-10">
    <div
      class="bg-primary flex w-full flex-col items-center justify-between overflow-hidden rounded-2xl border-[1px] border-solid border-[#ededed66] md:flex-1"
    >
      <p class="w-full p-10 text-center font-bold md:text-3xl">
        Ayudamos a los diseñadores y desarrolladores a crecer laboralmente mejorando sus perfiles profesionales.
      </p>
      <div class="w-ful relative mr-5">
        <p
          class="sm:text-shadow absolute top-4 left-[50%] w-full -translate-x-[50%] text-center text-[14px] font-bold uppercase sm:text-xl lg:text-3xl"
        >
          Tu PERFIL a juicio
        </p>
        <img src="/about/perfil-a-juicio.svg" alt="" class="w-full object-cover" />
      </div>
    </div>
    <div class="flex h-full w-full flex-col gap-5 font-bold md:w-full md:max-w-[422px]">
      <div
        class="bg-primary relative flex items-center justify-center rounded-2xl border-[1px] border-solid border-[#ededed66] md:h-1/2"
      >
        <img src="/about/resources.webp" alt="" class="w-full object-cover" />
        <p class="absolute top-[50%] left-[50%] w-3/4 -translate-[50%] text-center text-base">
          Mas de 1000 recursos para ayudar a diseñadores y desarrolladores a avanzar en sus carreras profesionales
        </p>
      </div>
      <div
        class="flex w-full flex-col items-center justify-center overflow-hidden rounded-2xl bg-linear-[75deg,#FF85E4_15%,#85FF85_40%,#85BBFF_75%,#BC85FF] p-[3px] shadow-[0px_1px_30px_rgba(255,133,228,0.3)]"
      >
        <div
          class="bg-primary flex h-full w-full flex-col items-center justify-between gap-10 overflow-hidden rounded-[14px] p-10 text-center text-2xl shadow-[inset_0_2px_25px_#6F00FF] md:gap-20"
        >
          <p>¿Hay algo que quieras aprender?</p>
          <a class="btn rounded-2xl" target="_blank" href="https://discord.com/invite/comuafor">Empieza a contribuir</a>
        </div>
      </div>
    </div>
  </div>
  <!--Interview drills -->
  <div
    class="w-full overflow-hidden rounded-[16px] border-[1px] border-solid border-[#ededed66] bg-[url(/about/suc-background.jpg)] bg-cover bg-center md:h-full md:rounded-[22px]"
  >
    <div
      class="flex w-full flex-col justify-between gap-16 overflow-hidden rounded-[16px] bg-linear-[135deg,#100e14_30%,#100e1463_80%,#100e144d] md:h-full md:flex-row md:gap-8 md:rounded-[22px] md:bg-linear-[45deg,#100e14_5%,#100e1463_50%,#100e144d]"
    >
      <div
        class="flex flex-1 flex-col justify-between gap-14 px-6 pt-14 md:max-h-[450px] md:w-[422px] md:py-11 md:pl-11"
      >
        <h3 class="text-center text-2xl font-bold md:text-start md:text-3xl">Simulacros de Entrevista Técnica</h3>
        <div class="flex flex-col gap-4">
          <p class="text-base whitespace-normal md:text-lg">
            Aprende a pasar procesos de selección, parte humana y code living en un entorno controlado.
          </p>
          <p class="text-base whitespace-normal md:text-lg">
            Mejora tus habilidades técnicas y humanas con entrevistas adaptadas a tu nivel, sin importar tu experiencia.
          </p>
        </div>
      </div>
      <div class="relative h-full max-h-[450px] min-h-[260px] w-full sm:h-auto md:w-[50%] lg:h-[450px]">
        <img
          src="/about/afor.svg"
          alt=""
          class="absolute right-[0%] bottom-0 h-full max-h-72 min-h-40 pt-4 sm:h-auto md:right-0 md:max-h-[367px] md:w-[55%] md:pt-8"
        />
        <img
          src="/about/junior.svg"
          alt=""
          class="absolute bottom-0 left-[0%] h-full max-h-72 min-h-40 sm:h-auto md:left-0 md:max-h-[367px] md:w-[70%]"
        />
      </div>
    </div>
  </div>
</section>
