---
import Link from './Link.astro'
---

<section
  class="relative z-10 flex h-auto min-h-[1024px] w-full flex-col items-center gap-10 bg-[url('/footer.webp')] text-center"
>
  <div class="absolute -top-[80px] left-0 z-20 h-[80px] w-full bg-linear-to-b from-[#100e14] to-[#09090b]"></div>
  <hgroup class="flex flex-col items-center gap-4 pt-[236px]">
    <h2 class="font-calsans text-7xl">¿A qué estás esperando?</h2>
    <p class="text-xl">Descubre lo que podemos crear juntos</p>
  </hgroup>
  <Link external asButton to="https://discord.com/invite/comuafor">¡Empezar a crear!</Link>
</section>
