---
import FooterContributors from './FooterContributors.astro'
import FooterDesignersContributors from './FooterDesignersContributors.astro'
import type { Contributor } from './FooterContributors.astro'
import { designersData } from '@/data/designersData'

const response = await fetch(`https://api.github.com/repos/Afordin/web-afordin/contributors`)
const dataDevs: Array<Contributor> = await response.json()
---

<footer
  class="box-border flex w-full justify-center py-24"
  style="background-image: linear-gradient(to bottom, #0E0F19, #271021, #2F1222, #5C353E);"
>
  <div class="flex w-full max-w-7xl py-4">
    <div class="flex w-1/2 flex-col gap-[36px] border-r-2 border-[#989898] pr-14">
      <img src="./svg/afordin.svg" alt="afordin" class="h-[33px] w-[218px]" />
      <ul class="flex flex-col gap-3 text-xl">
        <li><a href="#inicio" class="hover:text-[#BF4D73]">Inicio</a></li>
        <li><a href="#nuestros-valores" class="hover:text-[#BF4D73]">Nuestros valores</a></li>
        <li><a href="#sobre-nosotros" class="hover:text-[#BF4D73]">Sobre nosotros</a></li>
        <li><a href="#eventos" class="hover:text-[#BF4D73]">Eventos</a></li>
        <li><a href="#comunidad" class="hover:text-[#BF4D73]">Comunidad</a></li>
        <li><a href="#patrocinadores" class="hover:text-[#BF4D73]">Patrocinadores</a></li>
      </ul>
      <div class="flex flex-col gap-2">
        <p class="text-sm">
          Designed and developed by
          <a
            href="https://discord.com/invite/comuafor"
            class="relative font-semibold text-white no-underline underline-offset-4 after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 after:ease-in-out after:content-[''] hover:after:w-full"
          >
            Comuafor
          </a>
        </p>

        <div class="flex gap-2">
          <a
            href="https://discord.com/invite/comuafor"
            target="_blank"
            rel="noopener noreferrer"
            class="grid h-9 w-9 place-items-center transition-all duration-500 ease-in-out hover:rotate-[360deg] hover:rounded-full hover:bg-[#5868F2]"
            ><svg
              viewBox="0 0 256 199"
              width="24"
              height="19"
              xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid"
              ><path
                d="M216.856 16.597A208.502 208.502 0 0 0 164.042 0c-2.275 4.113-4.933 9.645-6.766 14.046-19.692-2.961-39.203-2.961-58.533 0-1.832-4.4-4.55-9.933-6.846-14.046a207.809 207.809 0 0 0-52.855 16.638C5.618 67.147-3.443 116.4 1.087 164.956c22.169 16.555 43.653 26.612 64.775 33.193A161.094 161.094 0 0 0 79.735 175.3a136.413 136.413 0 0 1-21.846-10.632 108.636 108.636 0 0 0 5.356-4.237c42.122 19.702 87.89 19.702 129.51 0a131.66 131.66 0 0 0 5.355 4.237 136.07 136.07 0 0 1-21.886 10.653c4.006 8.02 8.638 15.67 13.873 22.848 21.142-6.58 42.646-16.637 64.815-33.213 5.316-56.288-9.08-105.09-38.056-148.36ZM85.474 135.095c-12.645 0-23.015-11.805-23.015-26.18s10.149-26.2 23.015-26.2c12.867 0 23.236 11.804 23.015 26.2.02 14.375-10.148 26.18-23.015 26.18Zm85.051 0c-12.645 0-23.014-11.805-23.014-26.18s10.148-26.2 23.014-26.2c12.867 0 23.236 11.804 23.015 26.2 0 14.375-10.148 26.18-23.015 26.18Z"
                fill="#fff"></path></svg
            ></a
          >
          <a
            href="https://www.youtube.com/@afor_lives"
            target="_blank"
            rel="noopener noreferrer"
            class="grid h-9 w-9 place-items-center transition-all duration-500 ease-in-out hover:rotate-[360deg] hover:rounded-full hover:bg-[#C4302B]"
            ><svg
              viewBox="0 0 256 180"
              width="23"
              height="17"
              xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid"
              ><path
                d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134Z"
                fill="#fff"></path><path fill="" d="m102.421 128.06 66.328-38.418-66.328-38.418z"></path></svg
            ></a
          >
          <a
            href="https://www.twitch.tv/afor_digital"
            target="_blank"
            rel="noopener noreferrer"
            class="grid h-9 w-9 place-items-center transition-all duration-500 ease-in-out hover:rotate-[360deg] hover:rounded-full hover:bg-[#6441A5]"
            ><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 2400 2800" width="18" height="22"
              ><path fill="" d="m2200 1300-400 400h-400l-350 350v-350H600V200h1600z"></path><g fill="#fff"
                ><path
                  d="M500 0 0 500v1800h600v500l500-500h400l900-900V0H500zm1700 1300-400 400h-400l-350 350v-350H600V200h1600v1100z"
                ></path><path d="M1700 550h200v600h-200zm-550 0h200v600h-200z"></path></g
              ></svg
            ></a
          >
        </div>
      </div>
    </div>
    <div class="flex w-1/2 flex-col gap-8 pl-14 text-right">
      <h2 class="text-2xl">¿Quiénes contribuyeron?</h2>
      <div class="flex flex-col gap-6">
        <div class="contend-end flex flex-col items-end gap-4">
          <h3 class="text-xl">Diseñadores</h3>
          <FooterDesignersContributors contributors={designersData} />
        </div>
        <div class="contend-end flex flex-col items-end gap-4">
          <h3 class="text-xl">Desarrolladores</h3>
          <FooterContributors contributors={dataDevs} />
        </div>
        <div class="contend-end flex flex-col items-end gap-4">
          <h3 class="text-xl">Vibers</h3>
          <div class="flex h-full w-fit flex-wrap items-center justify-end -space-x-3 hover:space-x-0">
            <a
              href="https://www.linkedin.com/in/saramonrod/"
              class="group relative transform transition-all duration-500 ease-in-out"
            >
              <img src="./avatar/ema-avatar.jpg" alt="EmaLozada" class="h-11 w-11 rounded-full shadow-inner" />
              <div class="hidden group-hover:block">
                <div
                  class="group absolute -top-12 left-1/2 z-50 flex -translate-x-1/2 flex-col items-center rounded-sm text-center text-sm font-semibold text-white before:-top-2"
                >
                  <div class="flex items-center gap-1 rounded-sm bg-[#0072B1] px-3 py-[6px]">
                    <svg
                      width="13.5"
                      height="13.5"
                      xmlns="http://www.w3.org/2000/svg"
                      preserveAspectRatio="xMidYMid"
                      viewBox="0 0 256 256"
                    >
                      <path
                        d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
                        fill="#ffffff"></path>
                    </svg>
                    <p class="whitespace-nowrap">EmaLozada</p>
                  </div>
                  <div class="h-0 w-fit border-t-8 border-r-8 border-l-8 border-transparent border-t-[#0072B1]"></div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<style>
  footer {
    mask-image: linear-gradient(to bottom, transparent -10%, black 15%);
  }
  .tooltip {
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1000;
    display: none;
  }
</style>
