---
import FooterContributors from './FooterContributors.astro'
import type { Contributor } from '@/types/index.d'
import { fetchGithub } from '../utils/fetchGithub'
import { designersData } from '@/data/designersData'
import Discord from '@/assets/Discord.svg'
import Youtube from '@/assets/Youtube.svg'
import Twitch from '@/assets/Twitch.svg'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
// import SelectLanguage from './ui/SelectLanguage.astro'
import Link from '@/components/Link.astro'

let dataDevs: Array<Contributor> = []

dataDevs = await fetchGithub('Afordin/web-afordin')

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const links = [
  {
    href: '#inicio',
    name: t('footer.ul.home'),
  },
  {
    href: '#nuestros-valores',
    name: t('footer.ul.ourValues'),
  },
  {
    href: '#sobre-nosotros',
    name: t('footer.ul.aboutUs'),
  },
  {
    href: '#eventos',
    name: t('footer.ul.events'),
  },
  {
    href: '#comunidad',
    name: t('footer.ul.community'),
  },
  {
    href: '#patrocinadores',
    name: t('footer.ul.sponsors'),
  },
]
---

<footer
  class="box-border flex w-full justify-center py-16"
  style="background-image: linear-gradient(to bottom, #0E0F19, #271021, #2F1222, #5C353E);"
>
  <div class="flex w-full max-w-7xl flex-col-reverse px-4 py-4 lg:flex-row 2xl:px-0">
    <div class="flex w-full flex-col gap-[36px] border-[#483342] text-center lg:border-r-1 lg:pr-14 lg:text-left">
      <img src="./svg/afordin.svg" alt="afordin" class="mx-auto h-[33px] w-[218px] lg:mx-0" />
      <ul class="flex flex-col gap-3 text-base">
        {
          links.map((link) => (
            <li>
              <Link
                to={link.href}
                class="relative font-semibold text-white after:absolute after:-bottom-0.5 after:left-1/2 after:h-0.5 after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:left-0 hover:after:w-full"
              >
                {link.name}
              </Link>
            </li>
          ))
        }
      </ul>
      <!-- <SelectLanguage /> -->
      <div class="flex flex-col gap-2">
        <p class="text-sm">
          {t('footer.paragraph.designed')}
          <Link
            to="https://discord.com/invite/comuafor"
            class="relative font-semibold text-white no-underline underline-offset-4 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-left after:bg-white after:transition-all after:duration-300 after:ease-in-out after:content-[''] hover:after:w-0"
          >
            Comuafor
          </Link>
        </p>

        <div class="flex justify-center gap-2 lg:justify-start">
          <Link
            external
            aria-label="Discord logo icon"
            to="https://discord.com/invite/comuafor"
            class="grid h-9 w-9 place-items-center transition-all duration-500 ease-in-out hover:rotate-[360deg] hover:rounded-full hover:bg-[#5868F2]"
          >
            <Discord />
          </Link>
          <Link
            external
            aria-label="Youtube logo icon"
            to="https://www.youtube.com/@afor_lives"
            class="grid h-9 w-9 place-items-center transition-all duration-500 ease-in-out hover:rotate-[360deg] hover:rounded-full hover:bg-[#C4302B]"
          >
            <Youtube />
          </Link>
          <Link
            external
            aria-label="Twitch logo icon"
            to="https://www.twitch.tv/afor_digital"
            class="grid h-9 w-9 place-items-center transition-all duration-500 ease-in-out hover:rotate-[360deg] hover:rounded-full hover:bg-[#6441A5]"
          >
            <Twitch />
          </Link>
        </div>
      </div>
    </div>
    <div class="flex w-full flex-col justify-center gap-8 pb-28 text-center lg:pb-0 lg:pl-14 lg:text-right">
      <!-- <h2 class="text-xl">{t('footer.title')}</h2> -->
      <div class="flex flex-col gap-6">
        <div class="contend-end flex flex-col items-center gap-4 lg:items-end">
          <h3 class="pr-8 text-base 2xl:pr-0">{t('footer.title.designer')}</h3>
          <FooterContributors contributors={designersData} />
        </div>
        <div class="contend-end flex flex-col items-center gap-4 lg:items-end">
          <h3 class="pr-8 text-base 2xl:pr-0">{t('footer.title.developers')}</h3>
          {
            dataDevs?.length > 0 ? (
              <FooterContributors contributors={dataDevs} />
            ) : (
              <p class="text-sm text-white">Contribuidores no disponibles en este momento</p>
            )
          }
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    mask-image: linear-gradient(to bottom, transparent -10%, black 15%);
  }
</style>
