---
import type { Contributor } from '@/types/index.d'
import Avatar from '@/components/ui/Avatar.astro'

interface Props {
  contributors: Array<Contributor>
}

const { contributors } = Astro.props
---

<div class="flex h-full w-fit flex-wrap items-center justify-center -space-x-2 lg:justify-end">
  {
    contributors.map(({ html_url, avatar_url, login }: Contributor) => {
      return <Avatar url={html_url} avatar={avatar_url} username={login} icon="linkedin" />
    })
  }
</div>
