---
import Link from '@/components/Link.astro'
import type { Contributor } from '@/types/index.d'

interface Props {
  contributors: Array<Contributor>
}

const { contributors } = Astro.props
---

<div class="flex h-full w-fit flex-wrap items-center justify-center -space-x-2 lg:justify-end">
  {
    contributors.map((contributor: Contributor) => {
      return (
        <Link
          external
          to={contributor.html_url}
          class="group relative transform transition-all duration-500 ease-in-out"
        >
          <img
            src={contributor.avatar_url}
            alt={contributor.login}
            class="h-11 w-11 rounded-full border border-white object-cover shadow-inner transition-transform duration-200 group-hover:relative group-hover:z-10 group-hover:scale-115"
          />
          <div class="hidden group-hover:block">
            <div class="group absolute -top-12 left-1/2 z-50 flex -translate-x-1/2 flex-col items-center rounded-sm text-center text-sm font-semibold text-white before:-top-2">
              <div class="flex items-center gap-1 rounded-sm bg-[#0072B1] px-3 py-[6px]">
                <svg
                  width="13.5"
                  height="13.5"
                  xmlns="http://www.w3.org/2000/svg"
                  preserveAspectRatio="xMidYMid"
                  viewBox="0 0 256 256"
                >
                  <path
                    d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
                    fill="#ffffff"
                  />
                </svg>
                <p class="whitespace-nowrap">{contributor.login}</p>
              </div>
              <div class="h-0 w-fit border-t-8 border-r-8 border-l-8 border-transparent border-t-[#0072B1]" />
            </div>
          </div>
        </Link>
      )
    })
  }
</div>
