---
import Button from "./ui/Button.astro";
---

<section
  class="bg-[url(/Hero.webp)] flex flex-col gap-11 items-center justify-center w-full min-h-screen"
>
  <div>Bienvenido/a a Afordin</div>
  <hgroup class="text-center flex flex-col gap-11">
    <h1 class="text-7xl font-bold">
      Aprende, crea y crece en nuestra comunidad
    </h1>
    <p class="text-3xl">El conocimiento se multiplica cuando lo compartimos</p>
  </hgroup>
  <Button href="https://lenguajehtml.com/html/semantica/etiqueta-html-h1/">Crece compartiendo</Button>
</section>
