---
import Button from '@/components/ui/Button.astro'
---

<section
  class="relative flex min-h-screen w-full flex-col items-center justify-center gap-11 bg-[url(/Hero.webp)] bg-cover bg-no-repeat"
>
  <div
    class="pointer-events-none absolute inset-0 h-full w-full bg-linear-to-b from-transparent from-65% to-[#100E14] to-95%"
  >
  </div>
  <div>Bienvenido/a a Afordin</div>
  <hgroup class="font-aeonik flex flex-col gap-11 px-2 text-center drop-shadow-[0px_4px_13px_rgba(0,0,0,0.25)] lg:px-0">
    <h1 class="text-hero-title font-bold">
      Aprende, crea y crece <br /> en nuestra comunidad
    </h1>
    <p class="text-hero-paragraph">El conocimiento se multiplica cuando lo compartimos</p>
  </hgroup>
  <Button href="https://lenguajehtml.com/html/semantica/etiqueta-html-h1/">Crece compartiendo</Button>
</section>
<style>
  section {
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  }
</style>
