---
import { buttonStyles } from './ui/button.styles'
---

<section class="my-24 flex w-full flex-col items-center justify-center gap-11 py-20 text-white">
  <div id="project-showcase" class="group relative mb-24 flex h-72 w-full items-center justify-center">
    <!-- Python bot -->
    <img
      src="/projects/comuafor.webp"
      alt="Python bot"
      class="project-image absolute z-5 w-[30%] origin-center -translate-x-[40%] scale-90 -rotate-15 transform-gpu opacity-80 transition-all duration-500 ease-out group-hover:z-[10] group-hover:-translate-x-[85%] group-hover:scale-100 group-hover:-rotate-6 group-hover:opacity-100"
    />

    <!-- Aforshow -->
    <img
      src="/projects/comuafor.webp"
      alt="Aforshow"
      class="project-image absolute z-5 w-[30%] origin-center translate-x-[40%] scale-90 rotate-15 transform-gpu opacity-80 transition-all duration-500 ease-out group-hover:z-[10] group-hover:translate-x-[85%] group-hover:scale-100 group-hover:rotate-6 group-hover:opacity-100"
    />

    <!-- Comuafor -->
    <img
      src="/projects/comuafor.webp"
      alt="Comuafor"
      class="project-image absolute z-10 w-[40%] origin-center scale-100 transform-gpu transition-all duration-300 ease-out group-hover:scale-95"
    />
  </div>

  <div class="flex flex-col items-center gap-4">
    <h2 class="text-5xl font-bold drop-shadow-md">Nuestros últimos proyectos</h2>
    <p class="mb-4 text-lg md:text-xl">Todo el mundo participa, independientemente de su nivel.</p>
    <a class={buttonStyles} href="#conocenos">Empieza a contribuir</a>
  </div>
</section>

<style>
  .project-image {
    aspect-ratio: 806 / 605;
    object-fit: cover;
  }
</style>
