---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import Link from '@/components/Link.astro'

const PROJECTS_INFO = [
  {
    src: '/projects/comuafor.webp',
    alt: 'Python bot',
    className:
      'z-5 w-[40%] -translate-x-[50%] scale-90 -rotate-15 opacity-80 duration-500 group-hover:z-[10] group-hover:-translate-x-[85%] group-hover:scale-100 group-hover:-rotate-6 group-hover:opacity-100 lg:w-[30%] lg:-translate-x-[40%]',
  },
  {
    src: '/projects/comuafor.webp',
    alt: 'Aforshow',
    className:
      'z-5 w-[40%] translate-x-[50%] scale-90 rotate-15 opacity-80 duration-500 group-hover:z-[10] group-hover:translate-x-[85%] group-hover:scale-100 group-hover:rotate-6 group-hover:opacity-100 lg:w-[30%] lg:translate-x-[40%]',
  },
  {
    src: '/projects/comuafor.webp',
    alt: 'Comuafor',
    className: 'z-10 w-1/2 scale-100 duration-300 group-hover:scale-95 lg:w-[40%]',
  },
] satisfies Array<{ src: string; alt: string; [key: string]: string }>

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section id="projects" class="flex w-full flex-col items-center justify-center gap-11 pt-32 text-white lg:py-20">
  <div id="project-showcase" class="group relative mb-24 flex h-72 w-full items-center justify-center">
    {
      PROJECTS_INFO.map(({ src, alt, className }) => (
        <img
          src={src}
          alt={alt}
          class:list={['project-image absolute origin-center transform-gpu transition-all ease-out', className]}
        />
        // se dejo en el class:list los estilos que tenian en comun las imagenes y las demas estan el PROJECTS_INFO
      ))
    }
  </div>

  <div class="flex flex-col items-center gap-4 text-center">
    <h2 class="text-5xl font-bold drop-shadow-md">{t('lastProject.title')}</h2>
    <p class="mb-4 text-lg md:text-xl">{t('lastProject.paragraph')}</p>
    <Link asButton to="#conocenos">{t('lastProject.anchor')}</Link>
  </div>
</section>

<style>
  .project-image {
    aspect-ratio: 806 / 605;
    object-fit: cover;
  }
</style>
