---
import type { HTMLAttributes } from 'astro/types'

interface Props extends Omit<HTMLAttributes<'a'>, 'href'> {
  to: string
  external?: boolean
}

const { to, external = false, ...restProps } = Astro.props
const rel = external ? 'noopener noreferrer' : null
const target = external ? '_blank' : null
---

<a {rel} {target} href={to} {...restProps}>
  <slot />
</a>
