---
const links = [
  {
    href: "#",
    name: "Inicio"
  },
  {
    href: "#",
    name: "Valores"
  },
  {
    href: "#",
    name: "Proyectos"
  },
  {
    href: "#",
    name: "Eventos"
  },
  {
    href: "#",
    name: "Contribuyentes"
  },
]

const socialLinks = [
  {
    href: "#",
    name: "github"
  },
  {
    href: "#",
    name: "discord"
  },
]
---

<nav class="absolute top-5 z-50 flex gap-5 bg-white/30 p-4 rounded-full items-center justify-between">
  <img src="./public/logo.png" alt="">
  {links.map(link => (
    <a href={link.href}>{link.name}</a>
  ))}
  {socialLinks.map(link => (
    <a href={link.href}>{link.name}</a>
  ))}
</nav>