<div id="squarePattern" class="absolute inset-0"></div>

<style>
  #squarePattern {
    z-index: 0;
    background-size: 18px 18px;
    background-image:
      linear-gradient(to bottom, #3c3a3f 1px, transparent 1px), linear-gradient(to right, #3c3a3f 1px, transparent 1px);
    mask-image: linear-gradient(to right, transparent 10%, black 50%, transparent 90%);
  }
</style>
