---
// Importar el componente reutilizable
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import Link from '@/components/Link.astro'
import Card from '@/components/ui/Card.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section id="values" class="grid gap-10 px-10 py-32 md:px-24">
  <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
    <Card
      imageSrc="/valuesSvg/Molecula.svg"
      imageAlt="Molecula"
      title={t('values.section.free.learning')}
      paragraph={t('values.section.free.learning.paragraph')}
      gradient="bg-gradient-to-t from-[#2B1C2D] via-[#2F1E35] to-[#100E14]"
    />
    <Card
      imageSrc="/valuesSvg/Chat.svg"
      imageAlt="Chat"
      title={t('values.section.shared.learning')}
      paragraph={t('values.section.shared.learning.paragraph')}
      gradient="bg-gradient-to-t from-gray-800 via-gray-700 to-[#100E14]"
    />
    <Card
      imageSrc="/valuesSvg/GraficoBarras.svg"
      imageAlt="GraficoBarras"
      title={t('values.section.safe.overcoming')}
      paragraph={t('values.section.safe.overcoming.paragraph')}
      gradient="bg-gradient-to-t from-[#2B1C2D] via-[#2F1E35] to-[#100E14]"
    />
  </div>
  <div class="mt-8 flex justify-center">
    <Link external asButton to="https://discord.com/invite/comuafor">
      {t('values.button')}
    </Link>
  </div>
</section>
