<section class="flex flex-col bg-blue-600">
  <h2 class="z-10 text-[48px] font-bold">Nuestros valores</h2>
  <div class="z-10 flex">
    <div class="m-5 flex h-full w-full flex-col bg-amber-700 p-4">
      <img src="/public/personpc.svg" alt="personpc" class="size-fit" />
      <h3 class="text-[28px] font-bold">Aprendizaje libre</h3>
      <p>Poder aprender sin la presión de un entorno laboral. Adaptación a los contribuidores</p>
    </div>
    <div class="m-5 flex h-full w-full flex-col bg-amber-700 p-4">
      <img src="/public/messages.svg" alt="messages" />
      <h3 class="text-[28px] font-bold">Conocimiento compartido</h3>
      <p class="text-[18px]">Poder aprender sin la presión de un entorno laboral. Adaptación a los contribuidores</p>
    </div>
    <div class="m-5 flex h-full w-full flex-col bg-amber-700 p-4">
      <img src="/public/personStairs.svg" alt="personStairs" class="size-fit" />
      <h3 class="text-[28px] font-bold">Superacion segura</h3>
      <p class="text-[18px]">Poder aprender sin la presión de un entorno laboral. Adaptación a los contribuidores</p>
    </div>
  </div>
</section>
