---
import { Font } from 'astro:assets'

import '@/index.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Afordin Website</title>

    <Font cssVariable="--font-manrope" preload />
    <link rel="preload" href="/fonts/aeonik-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
  </head>
  <body>
    <div class="flex w-full flex-col items-center text-white">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: Aeonik;
    src: url('/fonts/aeonik-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
</style>
