---
import { cn } from '@/utils/cn'
import { buttonStyles } from './button.styles'

type Props = {
  classNames: string
}
const { classNames } = Astro.props
---

<button class={cn(buttonStyles, classNames)} {...Astro.props}>
  <slot />
</button>
