---
import type { HTMLAttributes } from 'astro/types'

export interface ButtonProps extends HTMLAttributes<'button'> {}

const { class: classNames, ...restProps } = Astro.props
---

<button class:list={['btn', classNames]} {...restProps}>
  <slot />
</button>
