---
import { languages } from '@/i18n/ui.ts'
---

<ul class="flex flex-row justify-center gap-2 lg:justify-start">
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>{lang === 'es' ? <a href={`/`}>{label}</a> : <a href={`/${lang}`}>{label}</a>}</li>
    ))
  }
</ul>
